a {
  color: #11999e;
  font-family: "Merriweather", serif;
  text-decoration: none;
}

a:hover {
  color: #8adbdb;
}

body {
  margin: 0px;
  text-align: justify;
  font-family: "Merriweather", serif;
}

div {
  width: 60%;
  margin: auto;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
}

h1 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: #d3ebeb;
  border-width: 6px;
  margin: 100px auto;
  width: 5%;
}

li {
  padding-bottom: 15px;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #FFFFFFDF;
}

.navbar ul {
  list-style-type: none;
  text-align: right;
  padding-right: 20px;
}

.navbar li {
  display: inline;
  padding: 5px;
}

.navbar a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.block-img:hover,
.pin-img:hover {
  border: solid;
}

.block-img,
.pin-img {
  max-width: 600px;
  margin: auto;
  display: block;
}

.block-img {
  width: 80%;
}

.pin-img {
  width: 100%;
}

.centered {
  text-align: center;
}

.developers {
  text-align: center;
}

.developers ul {
  list-style-type: none;
  padding-left: 0;
}

.bottom-container {
  width: 100%;
  background-color: #66BFBF;
  padding: 5px 0 5px;
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
}
